* {
  margin: 0;
  padding: 0;
  font-family: fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100vh;
  color: white;
  background: rgba(255, 212, 31, 0.6);
}

.header__wrapper-title {
  position: relative;
  z-index: 1;
  margin: 0 0 1rem;
  font-family: fantasy;
  font-size: 4.5rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
}

.header__wrapper-paragraph {
  position: relative;
  z-index: 1;
  font-family: fantasy;
  font-size: 2rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.5);
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-image: url("../../image/pattern.png");
  background-position: left;
}

.about__wrapper__box-img {
  width: 80%;
}

.about__wrapper__box-paragraph {
  font-size: 1.5rem;
}

.features {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-image: url("../../image/skillsBg.png");
  background-position: bottom;
}

.features__wrapper__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  text-align: center;
}

.features__wrapper__box-item {
  width: 20rem;
  padding: 0.5rem;
  font-size: 2rem;
}

.features__wrapper__box-item i {
  font-size: 5rem;
  text-shadow: 0 0 2rem black;
  color: white;
}

.skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-image: url("../../image/skillsBg.png");
}

.skills__wrapper__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__wrapper__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 2.5rem;
  border: 0.1rem solid black;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 1.5rem black;
          box-shadow: 0 0 1.5rem black;
}

.skills__wrapper__box-item i {
  font-size: 5rem;
  text-shadow: 0 0 1rem white;
}

.skills__wrapper__box div:first-child {
  color: rgba(255, 68, 0, 0.55);
}

.skills__wrapper__box div:nth-child(2) {
  color: rgba(0, 102, 255, 0.55);
}

.skills__wrapper__box div:nth-child(3) {
  color: rgba(0, 204, 255, 0.55);
}

.skills__wrapper__box div:nth-child(4) {
  color: rgba(255, 0, 255, 0.55);
}

.skills__wrapper__box div:nth-child(5) {
  color: rgba(98, 219, 50, 0.55);
}

.skills__wrapper__box div:nth-child(6) {
  color: rgba(219, 50, 50, 0.55);
}

.skills__wrapper__box div:nth-child(7) {
  color: rgba(75, 179, 240, 0.55);
}

.skills__wrapper__box div:nth-child(8) {
  color: rgba(90, 82, 46, 0.55);
}

.skills__wrapper__box div p {
  color: black;
}

.projects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("../../image/contactImgBg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.contact__wraper-paragraph {
  font-size: 1.8rem;
}

.contact i {
  font-size: 3.5rem;
  padding: 0 1rem;
  line-height: 160%;
  color: #fcdf45;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  border-top: 0.1rem solid rgba(48, 47, 47, 0.151);
}

.footer-paragraph {
  margin: 0;
  font-size: 1.2rem;
}

.footer-link {
  color: black;
  text-shadow: 0 0 0.5rem #fbd420;
  font-size: 1.5rem;
  padding: 0.6rem 1.8rem;
  text-decoration: none;
}

.header__waves {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 11rem;
  -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.header__waves::before, .header__waves::after {
  content: '';
  position: absolute;
  top: -65vw;
  left: 50%;
  width: 300vw;
  height: 300vw;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.header__waves::before {
  border-radius: 50%;
  background-image: url("../../image/daria-nepriakhina-i5iIhHSAtp4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.header__waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.5);
  -webkit-animation: waves 15s linear infinite;
          animation: waves 15s linear infinite;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.arrow {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  bottom: 0;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.7);
}

.subtitle {
  margin-top: 3rem;
  font-size: 3.5rem;
}

.card {
  margin-top: 1rem;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.card-deck {
  margin: 2rem;
}

.card-img-top {
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.card-body {
  height: 15rem;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.card-text {
  font-size: 1.5rem;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2.5rem;
}

.card-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-footer i {
  color: black;
}

@media (min-width: 320px) and (orientation: landscape) {
  .about,
  .features,
  .skills,
  .projects {
    height: auto;
  }
}

@media (min-width: 355px) {
  .about__wrapper__box-paragraph {
    font-size: 1.7rem;
  }
  .features__wrapper__box-item {
    font-size: 2.5rem;
    margin-top: 0.8rem;
  }
  .skills__wrapper__box {
    margin-top: 1rem;
  }
  .skills__wrapper__box-item {
    width: 12rem;
    font-size: 3rem;
  }
  .card-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 370px) and (min-height: 810px) {
  .subtitle {
    margin-top: 3.5rem;
    font-size: 4.5rem;
  }
  .about__wrapper__box {
    margin-top: 2rem;
  }
  .about__wrapper__box-paragraph {
    font-size: 2rem;
  }
  .about__wrapper__box-img {
    width: 90%;
  }
  .features__wrapper__box-item {
    font-size: 2.8rem;
    margin-top: 2rem;
  }
  .features__wrapper__box-item i {
    font-size: 7rem;
  }
  .skills__wrapper__box {
    margin-top: 3rem;
  }
  .skills__wrapper__box-item {
    width: 14rem;
    font-size: 3.8rem;
  }
  .card-img-top {
    height: 23rem;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .contact__wraper-paragraph {
    font-size: 2rem;
  }
  .contact i {
    padding: 0 1.5rem;
  }
  .footer-paragraph {
    font-size: 1.4rem;
  }
  .footer-link {
    font-size: 1.8rem;
  }
}

@media (min-width: 410px) {
  .arrow {
    bottom: -0.7rem;
  }
  .subtitle {
    font-size: 4rem;
  }
  .about__wrapper__box-paragraph {
    font-size: 2rem;
  }
  .features__wrapper__box-item {
    font-size: 3rem;
    margin-top: 0.8rem;
  }
  .skills__wrapper__box {
    margin-top: 2rem;
  }
  .skills__wrapper__box-item {
    width: 12.5rem;
    font-size: 3.5rem;
  }
  .card-img-top {
    height: 23rem;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .contact__wraper-paragraph {
    font-size: 2rem;
  }
  .footer-paragraph {
    font-size: 1.4rem;
  }
  .footer-link {
    font-size: 2rem;
  }
}

@media (min-width: 410px) and (min-height: 820px) {
  .skills__wrapper__box-item {
    margin: 1rem;
  }
  .skills__wrapper__box-item i {
    font-size: 7rem;
  }
  .card-body {
    height: 18rem;
  }
  .card-title {
    font-size: 2.3rem;
  }
  .card-text {
    font-size: 1.8rem;
  }
  .contact__wraper-paragraph {
    font-size: 2.3rem;
  }
  .contact i {
    font-size: 4rem;
  }
}

@media (min-width: 700px) {
  .header__waves {
    height: 14rem;
  }
  .header__wrapper-title {
    font-size: 6rem;
  }
  .header__wrapper-paragraph {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 5rem;
  }
  .about__wrapper__box-paragraph {
    font-size: 2.5rem;
  }
  .about__wrapper__box-img {
    width: 75%;
  }
  .features__wrapper__box-item {
    font-size: 3.5rem;
  }
  .skills__wrapper__box-item {
    width: 25.5rem;
  }
  .skills__wrapper__box-item i {
    font-size: 9rem;
  }
  .card-deck {
    width: 85%;
  }
  .card-img-top {
    height: 25rem;
  }
  .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 23rem;
  }
  .card-title {
    margin-top: 1rem;
    font-size: 2.6rem;
  }
  .card-text {
    margin-top: 0.5rem;
    font-size: 2.1rem;
  }
  .card-footer {
    font-size: 3rem;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 3.5rem;
  }
  .slick-prev {
    left: -40px;
  }
  .footer {
    height: 5rem;
  }
  .footer-link {
    font-size: 2.5rem;
  }
  .footer-paragraph {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=styles.css.map */