@-webkit-keyframes changeColor {
  0% {
    color: #500808;
  }
  25% {
    color: #7a1717;
  }
  50% {
    color: red;
  }
  75% {
    color: #911c1c;
  }
  100% {
    color: #500808;
  }
}

@keyframes changeColor {
  0% {
    color: #500808;
  }
  25% {
    color: #7a1717;
  }
  50% {
    color: red;
  }
  75% {
    color: #911c1c;
  }
  100% {
    color: #500808;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
  color: white;
  background: rgba(255, 212, 31, 0.6);
}

.header__wrapper-title {
  position: relative;
  z-index: 1;
  margin: 0 0 1rem;
  font-family: fantasy;
  font-size: 4.5rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
}

.header__wrapper-paragraph {
  position: relative;
  z-index: 1;
  font-family: fantasy;
  font-size: 2rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.5);
}

.header__nav {
  display: none;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

.about__wrapper__box-img {
  width: 57%;
  float: left;
  margin: 0 1rem 1rem 0;
}

.about__wrapper__box-paragraph {
  font-size: 1.4rem;
}

.about__wrapper__box-diploma {
  display: none;
}

.about__wrapper__box-diploma-mobile {
  font-size: 2rem;
  font-weight: bolder;
  color: #f10808;
  margin-top: 2rem;
}

.features {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
  background-image: url("../image/skillsBg.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.features__wrapper__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  text-align: center;
}

.features__wrapper__box-item {
  width: 20rem;
  padding: .5rem;
  font-size: 2rem;
}

.features__wrapper__box-item i {
  font-size: 5rem;
  text-shadow: 0 0 0.5rem black;
  color: white;
}

.featuresBiggerScreen {
  display: none;
}

.skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
  background-image: url("../image/skillsBg.png");
  background-repeat: no-repeat;
}

.skills__wrapper__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__wrapper__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  padding: .5rem 2rem;
  margin: .5rem;
  text-align: center;
  font-size: 2.5rem;
  border: 0.1rem solid black;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 1.5rem black;
          box-shadow: 0 0 1.5rem black;
}

.skills__wrapper__box-item i {
  font-size: 5rem;
  text-shadow: 0 0 1rem white;
}

.skills__wrapper__box div:first-child {
  color: rgba(255, 68, 0, 0.55);
}

.skills__wrapper__box div:nth-child(2) {
  color: rgba(0, 102, 255, 0.55);
}

.skills__wrapper__box div:nth-child(3) {
  color: rgba(0, 204, 255, 0.55);
}

.skills__wrapper__box div:nth-child(4) {
  color: rgba(255, 0, 255, 0.55);
}

.skills__wrapper__box div:nth-child(5) {
  color: rgba(98, 219, 50, 0.55);
}

.skills__wrapper__box div:nth-child(6) {
  color: rgba(219, 50, 50, 0.55);
}

.skills__wrapper__box div:nth-child(7) {
  color: rgba(75, 179, 240, 0.55);
}

.skills__wrapper__box div:nth-child(8) {
  color: rgba(90, 82, 46, 0.55);
}

.skills__wrapper__box div p {
  color: black;
}

.projects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
  background-image: url("../image/jsBg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.contact__wraper-paragraph {
  font-size: 1.8rem;
}

.contact i {
  font-size: 3.5rem;
  padding: 0 1rem;
  line-height: 160%;
  color: #fcdf45;
}

.contact__wraper__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  border-top: 0.1rem solid rgba(48, 47, 47, 0.151);
}

.footer-paragraph {
  margin: 0;
  font-size: 1.2rem;
}

.footer-link {
  color: black;
  text-shadow: 0 0 0.5rem #fbd420;
  font-size: 1.5rem;
  padding: .6rem 1.8rem;
  text-decoration: none;
}

.header__waves {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 11rem;
  -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.header__waves::before, .header__waves::after {
  content: '';
  position: absolute;
  top: -65vw;
  left: 50%;
  width: 300vw;
  height: 300vw;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.header__waves::before {
  border-radius: 50%;
  background-image: url("../image/daria-nepriakhina-i5iIhHSAtp4-unsplash-sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.header__waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.5);
  -webkit-animation: waves 15s linear infinite;
          animation: waves 15s linear infinite;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.arrow {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  bottom: 0;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.5);
}

.subtitle {
  margin-top: 2rem;
  font-size: 3.5rem;
}

.card {
  margin-top: 1rem;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.card-deck {
  margin: 2rem;
}

.card-img-top {
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.card-body {
  height: 17rem;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.card-text {
  font-size: 1.5rem;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2.5rem;
}

.card-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-footer i {
  color: black;
}

@media (min-width: 355px) {
  .subtitle {
    margin-top: 3rem;
  }
  .about__wrapper__box {
    margin-top: 1rem;
  }
  .about__wrapper__box-paragraph {
    font-size: 1.6rem;
  }
  .features__wrapper__box-item {
    font-size: 2.5rem;
    margin-top: .8rem;
  }
  .skills__wrapper__box {
    margin-top: 1rem;
  }
  .skills__wrapper__box-item {
    width: 12rem;
    font-size: 3rem;
  }
  .card-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 370px) and (min-height: 810px) {
  .subtitle {
    margin-top: 2rem;
    font-size: 4.5rem;
  }
  .about__wrapper__box {
    margin-top: 2rem;
  }
  .about__wrapper__box-paragraph {
    font-size: 1.7rem;
  }
  .about__wrapper__box-img {
    width: 75%;
    margin-right: 8rem;
  }
  .features__wrapper__box-item {
    font-size: 2.8rem;
    margin-top: 2rem;
  }
  .features__wrapper__box-item i {
    font-size: 7rem;
  }
  .skills__wrapper__box {
    margin-top: 3rem;
  }
  .skills__wrapper__box-item {
    width: 14rem;
    font-size: 3.8rem;
  }
  .card-img-top {
    height: 23rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__wrapper__box-diploma-mobile {
    font-size: 2.5rem;
    margin-top: 5rem;
  }
  .contact__wraper-paragraph {
    font-size: 2rem;
  }
  .contact i {
    padding: 0 1.5rem;
  }
  .footer-paragraph {
    font-size: 1.4rem;
  }
  .footer-link {
    font-size: 1.8rem;
  }
}

@media (min-width: 410px) {
  .arrow {
    bottom: -0.7rem;
  }
  .subtitle {
    font-size: 4rem;
  }
  .about__wrapper__box-paragraph {
    margin-top: 2rem;
    font-size: 1.9rem;
  }
  .features__wrapper__box-item {
    font-size: 3rem;
    margin-top: .8rem;
  }
  .skills__wrapper__box {
    margin-top: 2rem;
  }
  .skills__wrapper__box-item {
    width: 12.5rem;
    font-size: 3.5rem;
  }
  .card-img-top {
    height: 23rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact__wraper-paragraph {
    font-size: 2rem;
  }
  .footer-paragraph {
    font-size: 1.4rem;
  }
  .footer-link {
    font-size: 2rem;
  }
}

@media (min-width: 410px) and (min-height: 820px) {
  .about__wrapper__box-img {
    margin-right: 2rem;
    width: 55%;
  }
  .skills__wrapper__box-item {
    margin: 1rem;
  }
  .skills__wrapper__box-item i {
    font-size: 7rem;
  }
  .card-body {
    height: 18rem;
  }
  .card-title {
    font-size: 2.3rem;
  }
  .card-text {
    font-size: 1.8rem;
  }
  .contact__wraper-paragraph {
    font-size: 2.3rem;
  }
  .contact i {
    font-size: 4rem;
  }
}

@media (min-width: 700px) {
  .header__waves::before {
    background-image: url("../image/daria-nepriakhina-i5iIhHSAtp4-unsplash-md.jpg");
  }
  .arrow {
    font-size: 4rem;
  }
  .header__waves {
    height: 14rem;
  }
  .header__waves::before,
  .header__waves::after {
    top: -70vw;
  }
  .header__wrapper-title {
    font-size: 6rem;
  }
  .header__wrapper-paragraph {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 5rem;
    padding-top: 3.5rem;
  }
  .about__wrapper__box-paragraph {
    font-size: 2rem;
  }
  .about__wrapper__box-img {
    width: 70%;
    margin-right: 30%;
  }
  .featuresMobile,
  .skillsMobile {
    display: none;
  }
  .featuresBiggerScreen {
    display: block;
  }
  .features {
    background-position: inherit;
    background-size: cover;
  }
  .features__wrapper__box {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: unset;
  }
  .features__wrapper__box-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 19.3rem;
    height: 19rem;
    margin: 1rem .5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.192);
    border-radius: 1rem;
  }
  .features__wrapper__box-item p {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .card-deck {
    width: 85%;
  }
  .card-img-top {
    height: 25rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 23rem;
  }
  .card-title {
    margin-top: 1rem;
    font-size: 2.1rem;
  }
  .card-text {
    margin-top: .5rem;
    font-size: 1.9rem;
  }
  .card-footer {
    font-size: 3rem;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 3.5rem;
  }
  .slick-prev {
    left: -4rem;
  }
  .footer {
    height: 5rem;
  }
  .footer-link {
    font-size: 2rem;
  }
  .footer-paragraph {
    font-size: 1.7rem;
  }
}

@media (min-width: 1000px) {
  body {
    background: linear-gradient(8deg, white 4%, #f5b63e 60%);
  }
  .header__waves::before {
    background-image: url("../image/daria-nepriakhina-i5iIhHSAtp4-unsplash.jpg");
  }
  .arrow,
  .about__wrapper__box-diploma-mobile {
    display: none;
  }
  .features,
  .about {
    height: unset;
  }
  .header {
    background: #f5b63e;
  }
  .header__nav {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
    top: 0;
    font-size: 2.5rem;
  }
  .header__nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style: none;
  }
  .header__nav__list__item {
    margin-top: 2rem;
  }
  .header__nav__list__item a {
    padding: 2rem;
    text-decoration: none;
    color: white;
  }
  .header__waves {
    bottom: 1.5rem;
    right: 28rem;
    height: 27rem;
  }
  .about {
    margin-top: -5rem;
    background-image: url("../image/jsBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  .about__wrapper__box-paragraph {
    font-size: 2.4rem;
  }
  .about__wrapper__box-img {
    margin-right: 2rem;
    width: 28%;
  }
  .about__wrapper__box-diploma {
    display: block;
    padding: 12rem;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: end;
    -webkit-animation: changeColor 3s infinite;
            animation: changeColor 3s infinite;
    color: #e91111;
  }
  .features {
    margin-top: -10rem;
    background: unset;
  }
  .features__wrapper__box {
    margin-top: 4rem;
  }
  .features__wrapper__box-item {
    -webkit-box-shadow: 0.4rem 1.1rem 0.9rem 0.3rem rgba(0, 0, 0, 0.5);
            box-shadow: 0.4rem 1.1rem 0.9rem 0.3rem rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    width: 12rem;
    height: 20rem;
  }
  .features__wrapper__box-item i {
    font-size: 5rem;
  }
  .card-body {
    height: 23rem;
  }
  .card-title {
    font-size: 2rem;
  }
  .card-text {
    font-size: 1.8rem;
  }
  .contact__wraper-paragraph {
    font-size: 2.5rem;
  }
  .contact i {
    font-size: 4rem;
  }
  .footer {
    height: 4rem;
  }
  .footer-paragraph,
  .footer-link {
    font-size: 1.8rem;
  }
}

@media (min-width: 1250px) {
  .wrapper {
    width: 65%;
  }
  .header__wrapper {
    text-align: center;
  }
  .header__wrapper-title {
    font-size: 5rem;
  }
  .header__waves::before {
    height: -68vw;
  }
  .subtitle {
    font-size: 4rem;
  }
  .about__wrapper__box-paragraph {
    text-align: center;
    font-size: 2.2rem;
  }
  .about__wrapper__box-img {
    -webkit-box-shadow: 1rem 2rem 3rem 0.2rem rgba(0, 0, 0, 0.5);
            box-shadow: 1rem 2rem 3rem 0.2rem rgba(0, 0, 0, 0.5);
    margin-left: 8rem;
    float: right;
    width: 30%;
  }
  .features__wrapper .subtitle {
    padding-left: 12%;
  }
  .features__wrapper.wrapper {
    width: 85%;
  }
  .features {
    position: unset;
  }
  .soft {
    position: absolute;
    top: 60%;
    left: 9%;
    height: 13rem;
    width: 15rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 6rem 4rem;
    background-image: url("../image/jsBg.png");
    background-size: contain;
    background-position: left;
    border-radius: 29% 71% 11% 89% / 63% 50% 70% 50%;
    border: none;
  }
  .soft:nth-child(2) {
    top: 70%;
    left: 18.5%;
    height: 16rem;
    width: 18rem;
  }
  .soft:nth-child(3) {
    top: 77%;
    left: 30%;
    height: 19rem;
    width: 21rem;
  }
  .soft:nth-child(4) {
    top: 85%;
    left: 44%;
    height: 22rem;
    width: 24rem;
  }
  .features__wrapper__box-item i {
    font-size: 4rem;
  }
  .features__wrapper__box-item p {
    font-size: 2rem;
  }
}

@media (min-width: 1300px) {
  .about__wrapper__box-diploma {
    text-align: center;
  }
}

@media (min-height: 200px) and (max-height: 1023px) and (orientation: landscape) {
  .arrow {
    display: none;
  }
  .skills {
    height: 55rem;
  }
  .header__wrapper.wrapper {
    text-align: right;
  }
  .about__wrapper__box-img {
    width: 45%;
    margin: 0 3rem 1rem 0;
  }
}

@media (min-height: 375px) and (max-height: 1023px) and (orientation: landscape) {
  .about__wrapper__box-img {
    width: 36%;
    margin-left: 3rem;
  }
}

@media (min-width: 320px) and (max-width: 1025px) and (orientation: landscape) {
  .header__waves {
    height: 7rem;
  }
}
/*# sourceMappingURL=styles.css.map */