@import './generic/reset';
@import './generic/basic';
@import './partials/header';
@import './partials/about';
@import './partials/features';
@import './partials/skills';
@import './elements/waves';
@import './elements/wrapper';
@import './elements/arrow';
@import './elements/subtitle';