$dark: rgb(0, 0, 0);
$transparentDark: rgba(0, 0, 0, .5);
$bright: rgb(255, 255, 255);


@keyframes changeColor {
    0% {
        color: rgb(80, 8, 8);
    }

    25% {
        color: rgb(122, 23, 23);
    }

    50% {
        color: rgb(255, 0, 0);
    }

    75% {
        color: rgb(145, 28, 28);
    }

    100% {
        color: rgb(80, 8, 8);
    }
}