.about {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("../../image/pattern.png");
    background-position: left;
    background-repeat: no-repeat;
}

.about__wrapper__box {
    &-img {
        width: 57%;
        float: left;
        margin: 0 1rem 1rem 0;
    }

    &-paragraph {
        font-size: 1.4rem;
    }
}

.about__arrowBiggerScreen,
.about__wrapper__box-diploma {
    display: none;
}
.about__wrapper__box-diploma-mobile {
font-size: 2rem;
font-weight: bolder;
color: rgb(241, 8, 8);
margin-top: 2rem;
}