.about {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("../../image/pattern.png");
    background-position: left;
    background-repeat: no-repeat;
}

.about__wrapper__box {
    &-img {
        width: 80%;
    }

    &-paragraph {
        font-size: 1.5rem;
    }
}

.about__arrowBiggerScreen {
    display: none;
}