.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-image: url("../../image/contactBg.png");

    &__wraper-paragraph {
        font-size: 1.5rem;
    }

    i {
        font-size: 3.5rem;
        padding: 0 1rem;
        line-height: 160%;
        color: rgb(251, 212, 32);
        text-shadow: 0 0 0.5rem black;

    }
}