.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &__wraper-paragraph {
        font-size: 1.8rem;
    }

    i {
        font-size: 3.5rem;
        padding: 0 1rem;
        line-height: 160%;
        color: rgb(252, 223, 69);
    }
}

.contact__wraper__media {
    display: flex;
    justify-content: center;
}