.features {
    position: relative;
    display: flex;
    padding-bottom: 3rem;
    background-image: url("../image/skillsBg.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.features__wrapper__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-align: center;

    &-item {
        width: 20rem;
        padding: .5rem;
        font-size: 2rem;
    }

    &-item i {
        font-size: 5rem;
        text-shadow: 0 0 .5rem $dark;
        color: $bright;
    }
}

.featuresBiggerScreen {
    display: none
}