.features {
    position: relative;
    display: flex;
    height: 100vh;
    background: url("../../image/skillsBg.png");
    background-position: bottom;
}

.features__wrapper__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    text-align: center;

    &-item {
        width: 20rem;
        padding: 0.5rem;
        font-size: 2.5rem;
    }

    &-item i {
        font-size: 5rem;
        text-shadow: 0 0 2rem rgb(0,0,0);
        color: rgb(255,255,255);
    }
}