.header {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    color: white;
    background-color: rgb(255, 212, 31);

    &__wrapper-title {
        position: relative;
        z-index: 1;
        margin: 0 0 1rem;
        font-family: fantasy;
        font-size: 4.5rem;
        line-height: 1;
        color: rgba(255, 255, 255, 0.9);
    }

    &__wrapper-paragraph {
        position: relative;
        z-index: 1;
        font-family: fantasy;
        font-size: 2rem;
        line-height: 1.4;
        color: rgba(255, 255, 255, 0.5);
    }
}