.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: $bright;
    background: rgba(255, 212, 31, .6);

    &__wrapper-title {
        position: relative;
        z-index: 1;
        margin: 0 0 1rem;
        font-family: fantasy;
        font-size: 4.5rem;
        line-height: 1;
        color: rgba(255, 255, 255, .9);
    }

    &__wrapper-paragraph {
        position: relative;
        z-index: 1;
        font-family: fantasy;
        font-size: 2rem;
        line-height: 1.4;
        color: rgba(255, 255, 255, .5);
    }
}

.header__nav {
    display: none;
}