.skills {
  position: relative;
  display: flex;
  padding-bottom: 3rem;
  background-image: url("../../image/bulb.jpg");
  background-repeat: no-repeat;
}

.skills__wrapper__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    padding: .5rem 2rem;
    margin: .5rem;
    text-align: center;
    font-size: 2.5rem;
    border: .1rem solid $dark;
    border-radius: 10%;
    box-shadow: 0 0 1.5rem $dark;
  }

  &-item i {
    font-size: 5rem;
    text-shadow: 0 0 1rem $bright;
  }

  div:first-child {
    color: rgba(255, 68, 0, .55);
  }

  div:nth-child(2) {
    color: rgba(0, 102, 255, .55);
  }

  div:nth-child(3) {
    color: rgba(0, 204, 255, .55);
  }

  div:nth-child(4) {
    color: rgba(255, 0, 255, .55);
  }

  div:nth-child(5) {
    color: rgba(98, 219, 50, .55);
  }

  div:nth-child(6) {
    color: rgba(219, 50, 50, .55);
  }

  div:nth-child(7) {
    color: rgba(75, 179, 240, .55);
  }

  div:nth-child(8) {
    color: rgba(90, 82, 46, .55);
  }

  div p {
    color: $dark;
  }
}