.skills {
    position: relative;
    display: flex;
    height: 100vh;
    background: rgb(255, 212, 31);
}

.skills__wrapper__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10rem;
        padding: 0.5rem 2rem;
        margin: 0.5rem;
        text-align: center;
        font-size: 2.5rem;
        border: 0.1rem solid black;
        border-radius: 10%;
        box-shadow: 0 0 1.5rem rgb(0, 0, 0);
    }

    &-item i {
        font-size: 5rem;
        text-shadow: 0 0 1rem rgb(255, 255, 255);
    }

    div:first-child {
        color: rgba(255, 68, 0, 0.55);
    }

    div:nth-child(2) {
        color: rgba(0, 102, 255, 0.55);
    }

    div:nth-child(3) {
        color: rgba(0, 204, 255, 0.55);
    }

    div:nth-child(4) {
        color: rgba(255, 0, 255, 0.55);
    }

    div:nth-child(5) {
        color: rgba(98, 219, 50, 0.55);
    }

    div:nth-child(6) {
        color: rgba(219, 50, 50, 0.55);
    }

    div:nth-child(7) {
        color: rgba(75, 179, 240, 0.55);
    }

    div:nth-child(8) {
        color: rgba(90, 82, 46, 0.55);
    }

    div p {
        color: black;
    }
}