@media (min-width: 355px) {
  .subtitle {
    margin-top: 3rem;
  }

  .about__wrapper__box {
    margin-top: 1rem;
  }

  .about__wrapper__box-paragraph {
    font-size: 1.6rem;
  }

  .features__wrapper__box-item {
    font-size: 2.5rem;
    margin-top: .8rem;
  }

  .skills__wrapper__box {
    margin-top: 1rem;
  }

  .skills__wrapper__box-item {
    width: 12rem;
    font-size: 3rem;
  }

  .card-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 370px) and (min-height: 810px) {
  .subtitle {
    margin-top: 2rem;
    font-size: 4.5rem;
  }

  .about__wrapper__box {
    margin-top: 2rem;
  }

  .about__wrapper__box-paragraph {
    font-size: 1.7rem;
  }

  .about__wrapper__box-img {
    width: 75%;
    margin-right: 8rem;
  }

  .features__wrapper__box-item {
    font-size: 2.8rem;
    margin-top: 2rem;
  }

  .features__wrapper__box-item i {
    font-size: 7rem;
  }

  .skills__wrapper__box {
    margin-top: 3rem;
  }

  .skills__wrapper__box-item {
    width: 14rem;
    font-size: 3.8rem;
  }

  .card-img-top {
    height: 23rem;
    object-fit: cover;
  }

  .about__wrapper__box-diploma-mobile {
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  .contact__wraper-paragraph {
    font-size: 2rem;
  }

  .contact i {
    padding: 0 1.5rem;
  }

  .footer-paragraph {
    font-size: 1.4rem;
  }

  .footer-link {
    font-size: 1.8rem;
  }
}

@media (min-width: 410px) {
  .arrow {
    bottom: -0.7rem;
  }

  .subtitle {
    font-size: 4rem;
  }

  .about__wrapper__box-paragraph {
    margin-top: 2rem;
    font-size: 1.9rem;
  }

  .features__wrapper__box-item {
    font-size: 3rem;
    margin-top: .8rem;
  }

  .skills__wrapper__box {
    margin-top: 2rem;
  }

  .skills__wrapper__box-item {
    width: 12.5rem;
    font-size: 3.5rem;
  }

  .card-img-top {
    height: 23rem;
    object-fit: cover;
  }

  .contact__wraper-paragraph {
    font-size: 2rem;
  }

  .footer-paragraph {
    font-size: 1.4rem;
  }

  .footer-link {
    font-size: 2rem;
  }
}

@media (min-width: 410px) and (min-height: 820px) {
  .about__wrapper__box-img {
    margin-right: 2rem;
    width: 55%;
  }

  .skills__wrapper__box-item {
    margin: 1rem;
  }

  .skills__wrapper__box-item i {
    font-size: 7rem;
  }

  .card-body {
    height: 18rem;
  }

  .card-title {
    font-size: 2.3rem;
  }

  .card-text {
    font-size: 1.8rem;
  }

  .contact__wraper-paragraph {
    font-size: 2.3rem;
  }

  .contact i {
    font-size: 4rem;
  }
}

@media (min-width: 700px) {
  .header__waves {
    &::before {
      background-image: url("../image/daria-nepriakhina-i5iIhHSAtp4-unsplash-md.jpg");
    }
  }

  .arrow {
    font-size: 4rem;
  }

  .header__waves {
    height: 14rem;
  }

  .header__waves::before,
  .header__waves::after {
    top: -70vw;
  }

  .header__wrapper-title {
    font-size: 6rem;
  }

  .header__wrapper-paragraph {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 5rem;
    padding-top: 3.5rem;
  }

  .about__wrapper__box-paragraph {
    font-size: 2rem;
  }

  .about__wrapper__box-img {
    width: 70%;
    margin-right: 30%;
  }

  .featuresMobile,
  .skillsMobile {
    display: none;
  }

  .featuresBiggerScreen {
    display: block;
  }

  .features {
    background-position: inherit;
    background-size: cover;
  }

  .features__wrapper__box {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: unset;
  }

  .features__wrapper__box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19.3rem;
    height: 19rem;
    margin: 1rem .5rem;
    border: .1rem solid rgba(0, 0, 0, .192);
    border-radius: 1rem;

    p {
      margin-top: 1.5rem;
      margin-bottom: 0;
    }
  }

  .card-deck {
    width: 85%;
  }

  .card-img-top {
    height: 25rem;
    object-fit: cover;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    height: 23rem;
  }

  .card-title {
    margin-top: 1rem;
    font-size: 2.1rem;
  }

  .card-text {
    margin-top: .5rem;
    font-size: 1.9rem;
  }

  .card-footer {
    font-size: 3rem;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 3.5rem;
  }

  .slick-prev {
    left: -4rem;
  }

  .footer {
    height: 5rem;
  }

  .footer-link {
    font-size: 2rem;
  }

  .footer-paragraph {
    font-size: 1.7rem;
  }
}

@media (min-width: 1000px) {
  body {
    background: linear-gradient(8deg, $bright 4%, #f5b63e 60%);
  }

  .header__waves {
    &::before {
      background-image: url("../image/daria-nepriakhina-i5iIhHSAtp4-unsplash.jpg");
    }
  }

  .arrow,
  .about__wrapper__box-diploma-mobile {
    display: none;
  }

  .features,
  .about {
    height: unset;
  }

  .header {
    background: rgb(245, 182, 62);
  }

  .header__nav {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
    top: 0;
    font-size: 2.5rem;
  }

  .header__nav__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  .header__nav__list__item {
    margin-top: 2rem;
  }

  .header__nav__list__item a {
    padding: 2rem;
    text-decoration: none;
    color: $bright;
  }

  .header__waves {
    bottom: 1.5rem;
    right: 28rem;
    height: 27rem;
  }

  .about {
    margin-top: -5rem;
    background-image: url("../image/jsBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }

  .about__wrapper__box-paragraph {
    font-size: 2.4rem;
  }

  .about__wrapper__box-img {
    margin-right: 2rem;
    width: 28%;
  }

  .about__wrapper__box-diploma {
    display: block;
    padding: 12rem;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: end;
    animation: changeColor 3s infinite;
    color: rgb(233, 17, 17);
  }

  .features {
    margin-top: -10rem;
    background: unset;
  }

  .features__wrapper__box {
    margin-top: 4rem;
  }

  .features__wrapper__box-item {
    box-shadow: .4rem 1.1rem .9rem .3rem $transparentDark;
    font-size: 2rem;
    width: 12rem;
    height: 20rem;
  }

  .features__wrapper__box-item i {
    font-size: 5rem;
  }

  .card-body {
    height: 23rem;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-text {
    font-size: 1.8rem;
  }

  .contact__wraper-paragraph {
    font-size: 2.5rem;
  }

  .contact i {
    font-size: 4rem;
  }

  .footer {
    height: 4rem;
  }

  .footer-paragraph,
  .footer-link {
    font-size: 1.8rem;
  }
}

@media (min-width: 1250px) {
  .wrapper {
    width: 65%;
  }

  .header__wrapper {
    text-align: center;
  }

  .header__wrapper-title {
    font-size: 5rem;
  }

  .header__waves::before {
    height: -68vw;
  }

  .subtitle {
    font-size: 4rem;
  }

  .about__wrapper__box-paragraph {
    text-align: center;
    font-size: 2.2rem;
  }

  .about__wrapper__box-img {
    box-shadow: 1rem 2rem 3rem .2rem $transparentDark;
    margin-left: 8rem;
    float: right;
    width: 30%;
  }

  .features__wrapper {
    .subtitle {
      padding-left: 12%;
    }
  }

  .features__wrapper.wrapper {
    width: 85%;
  }

  .features {
    position: unset;
  }

  .soft {
    position: absolute;
    top: 60%;
    left: 9%;
    height: 13rem;
    width: 15rem;
    transform: translate(-50%, -50%);
    padding: 6rem 4rem;
    background-image: url("../image/jsBg.png");
    background-size: contain;
    background-position: left;
    border-radius: 29% 71% 11% 89% / 63% 50% 70% 50%;
    border: none;
  }

  .soft:nth-child(2) {
    top: 70%;
    left: 18.5%;
    height: 16rem;
    width: 18rem;
  }

  .soft:nth-child(3) {
    top: 77%;
    left: 30%;
    height: 19rem;
    width: 21rem;
  }

  .soft:nth-child(4) {
    top: 85%;
    left: 44%;
    height: 22rem;
    width: 24rem;
  }

  .features__wrapper__box-item i {
    font-size: 4rem;
  }

  .features__wrapper__box-item p {
    font-size: 2rem;
  }
}

@media (min-width:1300px) {
  .about__wrapper__box-diploma {
    text-align: center;
  }
}

@media (min-height:200px) and (max-height:1023px) and (orientation:landscape) {
  .arrow {
    display: none;
  }

  .skills {
    height: 55rem;
  }

  .header__wrapper.wrapper {
    text-align: right;
  }

  .about__wrapper__box-img {
    width: 45%;
    margin: 0 3rem 1rem 0;
  }
}

@media (min-height:375px) and (max-height:1023px) and (orientation:landscape) {
  .about__wrapper__box-img {
    width: 36%;
    margin-left: 3rem;
  }
}


@media (min-width: 320px) and (max-width:1025px) and (orientation:landscape) {
  .header__waves {
    height: 7rem;
  }
}