@media (min-width: 320px) and (orientation: landscape) {

  .about,
  .features,
  .skills,
  .projects {
    height: auto;
  }
}

@media (min-width: 355px) {
  .subtitle {
    margin-top: 3rem;
  }

  .about__wrapper__box {
    margin-top: 1rem;
  }

  .about__wrapper__box-paragraph {
    font-size: 2rem;
  }

  .features__wrapper__box-item {
    font-size: 2.5rem;
    margin-top: 0.8rem;
  }

  .skills__wrapper__box {
    margin-top: 1rem;
  }

  .skills__wrapper__box-item {
    width: 12rem;
    font-size: 3rem;
  }

  .card-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 370px) and (min-height: 810px) {
  .subtitle {
    margin-top: 2rem;
    font-size: 4.5rem;
  }

  .about__wrapper__box {
    margin-top: 2rem;
  }

  .about__wrapper__box-paragraph {
    font-size: 2rem;
  }

  .about__wrapper__box-img {
    width: 90%;
  }

  .features__wrapper__box-item {
    font-size: 2.8rem;
    margin-top: 2rem;
  }

  .features__wrapper__box-item i {
    font-size: 7rem;
  }

  .skills__wrapper__box {
    margin-top: 3rem;
  }

  .skills__wrapper__box-item {
    width: 14rem;
    font-size: 3.8rem;
  }

  .card-img-top {
    height: 23rem;
    object-fit: cover;
  }

  .contact__wraper-paragraph {
    font-size: 2rem;
  }

  .contact i {
    padding: 0 1.5rem;
  }

  .footer-paragraph {
    font-size: 1.4rem;
  }

  .footer-link {
    font-size: 1.8rem;
  }
}

@media (min-width: 410px) {
  .arrow {
    bottom: -0.7rem;
  }

  .subtitle {
    font-size: 4rem;
  }

  .about__wrapper__box-paragraph {
    margin-top: 2rem;
    font-size: 2.2rem;
  }

  .features__wrapper__box-item {
    font-size: 3rem;
    margin-top: 0.8rem;
  }

  .skills__wrapper__box {
    margin-top: 2rem;
  }

  .skills__wrapper__box-item {
    width: 12.5rem;
    font-size: 3.5rem;
  }

  .card-img-top {
    height: 23rem;
    object-fit: cover;
  }

  .contact__wraper-paragraph {
    font-size: 2rem;
  }

  .footer-paragraph {
    font-size: 1.4rem;
  }

  .footer-link {
    font-size: 2rem;
  }
}

@media (min-width: 410px) and (min-height: 820px) {
  .about__wrapper__box-img {
    width: 80%;
  }

  .skills__wrapper__box-item {
    margin: 1rem;
  }

  .skills__wrapper__box-item i {
    font-size: 7rem;
  }

  .card-body {
    height: 18rem;
  }

  .card-title {
    font-size: 2.3rem;
  }

  .card-text {
    font-size: 1.8rem;
  }

  .contact__wraper-paragraph {
    font-size: 2.3rem;
  }

  .contact i {
    font-size: 4rem;
  }
}

@media (min-width: 700px) {
  .arrow {
    font-size: 4rem;
  }

  .header__waves {
    height: 14rem;
  }

  .header__waves::before,
  .header__waves::after {
    top: -70vw;
  }

  .header__wrapper-title {
    font-size: 6rem;
  }

  .header__wrapper-paragraph {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 5rem;
    padding-top: 3.5rem;
  }

  .about__wrapper__box-paragraph {
    font-size: 2.5rem;
  }

  .about__wrapper__box-img {
    width: 70%;
  }

  .about__arrowBiggerScreen {
    display: block;
  }

  .about__arrow {
    display: none;
  }

  .featuresMobile,
  .skillsMobile {
    display: none;
  }

  .featuresBiggerScreen {
    display: block;
  }

  .features {
    background-position: inherit;
    background-size: cover;
  }

  .features__wrapper__box {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: unset;
  }

  .features__wrapper__box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19.3rem;
    height: 19rem;
    margin: 1rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 1rem;

    p {
      margin-top: 1.5rem;
      margin-bottom: 0;
    }
  }

  .card-deck {
    width: 85%;
  }

  .card-img-top {
    height: 25rem;
    object-fit: cover;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    height: 23rem;
  }

  .card-title {
    margin-top: 1rem;
    font-size: 2.6rem;
  }

  .card-text {
    margin-top: 0.5rem;
    font-size: 2.1rem;
  }

  .card-footer {
    font-size: 3rem;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 3.5rem;
  }

  .slick-prev {
    left: -40px;
  }

  .footer {
    height: 5rem;
  }

  .footer-link {
    font-size: 2.5rem;
  }

  .footer-paragraph {
    font-size: 1.8rem;
  }
}

@media (min-width: 1000px) {
  body {
    background: rgb(255, 255, 255);
    background: linear-gradient(8deg,
        rgba(255, 255, 255, 1) 4%,
        rgba(245, 182, 62, 1) 73%);
  }

  .arrow {
    display: none;
  }

  .header {
    background: rgb(245, 182, 62);
  }

  .header__nav {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
    top: 0;
    font-size: 2.5rem;
  }

  .header__nav__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  .header__nav__list__item {
    margin-top: 2rem;
  }

  .header__nav__list__item a {
    padding: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .header__waves {
    bottom: -76px;
    right: 280px;
    height: 27rem;
  }

  .about {
    background: unset;
  }

  .about__wrapper__box-paragraph {
    font-size: 4rem;
  }

  .about__wrapper__box-img {
    width: 65%;
  }

  .features {
    background: unset;
  }

  .features__wrapper__box {
    margin-top: 4rem;
  }

  .features__wrapper__box-item {
    width: 26rem;
    height: 25rem;
  }

  .features__wrapper__box-item i {
    font-size: 8rem;
  }

  .projects {
    height: auto;
  }

  .card-body {
    height: 32rem;
  }

  .card-title {
    font-size: 3.5rem;
  }

  .card-text {
    font-size: 3.1rem;
  }

  .contact__wraper-paragraph {
    font-size: 3.5rem;
  }

  .contact i {
    font-size: 6rem;
  }

  .footer {
    height: 7rem;
  }

  .footer-paragraph {
    font-size: 2.3rem;
  }

  .footer-link {
    font-size: 3rem;
  }
}

@media (min-width:1350px) {
  .wrapper {
    width: 65%;
  }

  .header__wrapper {
    text-align: center;
  }

  .subtitle {
    font-size: 3.5rem;
  }

  .about__wrapper__box-paragraph {
    font-size: 1.9rem
  }

  .about__wrapper__box-img {
    width: 45%;
  }

  .about,
  .features {
    height: auto;
  }

  .features {
    position: unset;
  }

  .soft {
    position: absolute;
    top: 50rem;
    left: 10%;
    height: 13rem;
    width: 15rem;
    transform: translate(-50%, -50%);
    padding: 6rem 4rem;
    background-color: rgba(255, 255, 255, 0.95);
    border-style: solid;
    border-width: .1rem;
    border-color: #aaa4a4;
  }

  .soft:nth-child(2) {
    top: 60rem;
    left: 17.5%;
    height: 16rem;
    width: 18rem;
  }

  .soft:nth-child(3) {
    top: 70rem;
    left: 26.5%;
    height: 18rem;
    width: 20rem;
  }

  .soft:nth-child(4) {
    top: 80rem;
    left: 36.5%;
    height: 20rem;
    width: 22rem;
  }

  .features__wrapper__box-item i {
    font-size: 4rem;
  }

  .features__wrapper__box-item p {
    font-size: 2rem;
  }
}