.card {
    margin-top: 1rem;
    transition: transform .3s;

    &-deck {
        margin: 2rem;
    }
    &-img-top {
        height: 15rem;
        object-fit: cover;
    }

    &:hover {
        transform: scale(.96);
    }

    &-body {
        height: 17rem;
    }

    &-title {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
    }

    &-text {
        font-size: 1.5rem;
    }

    &-footer {
        display: flex;
        justify-content: space-evenly;
        font-size: 2.5rem;

        a {
            display: flex;
        }

        i {
            color: $dark;
        }
    }
}