.header__waves {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 11rem;
    box-shadow: inset 0 0 5rem $transparentDark;
    transition: 500ms;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: -65vw;
        left: 50%;
        width: 300vw;
        height: 300vw;
        transform: translate(-50%, -75%);
    }

    &::before {
        border-radius: 50%;
        background-image: url("../image/daria-nepriakhina-i5iIhHSAtp4-unsplash-sm.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    &::after {
        border-radius: 44%;
        background: rgba(51, 51, 51, .5);
        animation: waves 15s linear infinite;
    }
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}